.navbar-fixed-top {
    position: fixed;
    height: 24px;
    right: 0;
    left: 0;
    width: 100%;
    border-width: 0 0 1px;
    top: 0;
    z-index: 1030;
    background: #DDE0E0;
    color: #556565;
    font-weight: 400;
    text-align: center;
    padding-top: 4px;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.closeCookie {
    display: none
}

.js .closeCookie {
    display: inline;
}

.closeCookie {
    margin: 5px;
}

.closeCookie a {
    font-weight: 600;
    font-size: 14px;
    color: #414042;
    cursor: pointer;
    text-decoration: underline;
}

.closeCookie a:hover {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 900
}